
/************************************ Blog Page ****************************************/
.blog-caption{
    padding-top: 90px;
    height: 300px;
    background-color: #607d8b;
}
.blog-caption h2{
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}
.blog-caption p{
    color: #fff;
}

.blog-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 20px;
    position: relative;
    top: -140px;
}

.blog-item{
    border: 1px solid #607d8b;
    border-radius: 20px;
    margin-top: 50px;
}

.blog-item-img{
    width: 100%;
}
.blog-item-img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.blog-item-desc{
    padding: 15px;
}
.blog-item-desc span{
    font-size: 20px;
    font-weight: bold;
    color: #395988;
}
.blog-item-desc p{
    margin: 10px 0;
    line-height: 1.5;
    color: #395988;
}
.blog-item-desc button{
    width: 100px;
    height: 40px;
    margin: 5px 0;
    background-color: #6195ff;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #6195ff;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.blog-item-desc button a{
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.blog-item-desc button:hover,
.blog-item-desc button:hover a{
    background-color: transparent;
    color: #6195ff;
}

/************************************ footer Section ****************************************/
footer{
    height: auto;
    background-color: #000;
}
footer .call-us{
    display: flex;
    color: #fff;
    padding: 40px 0;
    border-bottom: 1px solid rgb(92, 92, 92);
}
.call-us .call-us-items{
    width: 50%;
    padding-left: 35px;
    position: relative;
}
.call-us .call-us-items.active{
    padding-left: 43px;
}

.call-us-items i{
    position: absolute;
    top: 10px;
    left: 0;
    color: #6195ff;
}

.call-us-items p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.call-us-items span{
    color: #999;
}

/* footer */
.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-items{
    width: 30%;
    color: #fff;
    position: relative;
}
.footer-items span.line{
    display: block;
    margin: 10px 0;
    width: 50px;
    height: 3px;
    background: #6195ff;
}

.footer-items h3{
    font-size: 25px;
}
.footer-items h3 span{
    font-size: 35px;
    margin: 0 2px;
    color: #6699ff;
}

.footer-items p{
    margin-top: 30px;
    color: #999;
    line-height: 1.5;
}

.footer-items span.social{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0;
}

.footer-items i.icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.5s;
}
.footer-items i.facebook{
    background-color: #3b5999;
}
.footer-items i.twitter{
    background-color: #55acee;
}
.footer-items i.google{
    background-color: #cd201f;
}

/* links  */
.footer-items h4{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 16px;
}

.footer-items-links{
    display: flex;
}
.footer-items-links .links.part1{
    width: 150px;
}

.footer-items-links .links a{
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #999;
}
.footer-items-links .links a:hover{
    text-decoration: underline;
    color: #6195ff;
}

/*mail*/
.footer-items .footer-links{
    display: flex;
}
.footer-items input{
    margin-top: 30px;
    padding: 10px;
    width: 210px;
    height: 50px;
    border: 0;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: rgba(92, 92, 92, 0.59);
    color: #fff;
    font-size: 15px;
}

.footer-items a i.send{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #6195ff;
    border-radius: 0 5px 5px 0;
    transition: all 0.5s;
}
.footer-items i.icon:hover,
.footer-items a i.send:hover{
    opacity: 0.7;
}

/* copyright */
.copy{
    height: 40px;
    background: #161616f0;
    text-align: center;
}
.copy p{
    padding-top: 13px;
    color: #fff;
}
/************************************ Media Quary ****************************************/
@media (max-width:767px){
    .blog-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 30px;
    }
    .blog-item{
        position: relative;
        height: 100%;
    }
    .blog-item-desc button{
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    .footer-content{
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-items{
        width: 100%;
    }

    .footer-items i.icon{
        margin-bottom: 30px;
    }

    .footer-items input{
        margin-bottom: 30px;
    }
    .copy{
        height: 50px;
        text-align: left;
    }
    .copy p{
        padding: 13px 0 0 10px;
    }
}
